html, body {
height: 100%;
}

body {
background: url(bg.png);
padding: 0px;
margin: 0px;
}

#wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -36px; /* the bottom margin is the negative value of the footer's height */
padding-bottom: 0px;
margin-bottom: 0px;
}

#container {
margin-left: auto;
margin-right: auto;
margin: 0px;
padding 0px;
min-width: 480px;
min-height: 120px;
}

header { }

#floater {

height: 50%;
margin-bottom: -192px;
}

#content {
color: #272727;
background-color: rgba(00,255,220,0.50);
border: 1px dashed #272727;
border-radius: 208px;
width: 727px;
margin-left: auto;
margin-right: auto;
padding: 7px;
box-shadow: 0 0 4em 5em rgba(0,180,150,0.4);
transition-property: box-shadow, border-radius;
transition-duration: 2s, 3s;
-moz-box-shadow: 0 0 4em 5em rgba(0,180,150,0.4);
-moz-transition-property: box-shadow, border-radius;
-moz-transition-duration: 2s, 3s;
-webkit-box-shadow: 0 0 4em 5em rgba(0,180,150,0.4);
-webkit-transition-property: -webkit-box-shadow, border-radius;
-webkit-transition-duration: 2s, 3s;

}
#content:hover {
transition-property: box-shadow, border-radius;
transition-duration: 4s, 5s;
box-shadow: 0 0 0.5em 5em rgba(0,180,150,0.4);
-moz-transition-property: box-shadow, border-radius;
-moz-transition-duration: 4s, 5s;
-moz-box-shadow: 0 0 0.5em 5em rgba(0,180,150,0.4);
-webkit-transition-property: -webkit-box-shadow, border-radius;
-webkit-transition-duration: 4s, 5s;
-webkit-box-shadow: 0 0 0.5em 5em rgba(0,180,150,0.4);
border-radius: 17px;

}


.box {
padding: 17px;
}

.center {
text-align: center;
}

.big {
font-family: 'Poiret One', cursive;
font-size: 72px;
}

.big:hover { }

.fuzzy {
text-shadow: 0 0 2em #0bc, 0 0 1em #aec, 0 0 0.5em #dff, 0 0 0.2em #aee;
transition-property: text-shadow, font-weight;
transition-duration: 2s, 1s;
-moz-transition-property: text-shadow, font-weight;
-moz-transition-duration: 2s, 1s;
-webkit-transition-property: text-shadow, font-weight;
-webkit-transition-duration: 2s, 1s;
}

.fuzzy:hover {
font-weight: bold;
transition-property: text-shadow, font-weight;
transition-duration: 1s, 1s;
-moz-transition-property: text-shadow, font-weight;
-moz-transition-duration: 1s, 1s;
-webkit-transition-property: text-shadow, font-weight;
-webkit-transition-duration: 1s, 1s;
text-shadow: 0 0 2em #0bc, 0 0 1em #aec, 0.02em 0.02em 0.2em #dff, 0.02em 0.02em 0.5em
}

.fuzzy a:hover, .fuzzy a:visited, .fuzzy a:active, .fuzzy a {
color: #272727;
text-decoration: none;
}

#tagline {
width: 70%;
margin-left: auto;
margin-right: auto;
font-family: 'Poiret One';
}

#tagbox  {
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
color: rgba(00,255,220,0.50);
margin-top: -50px;
transition-property: text-shadow, margin-top, margin-bottom, color;
transition-duration: 500, 2s, 1s, 500;
-moz-transition-property: text-shadow, margin-top, margin-bottom, color;
-moz-transition-duration: 500, 2s, 1s, 500;
-webkit-transition-property: text-shadow, margin-top, margin-bottom, color;
-webkit-transition-duration: 500, 2s, 1s, 500;
}

#tagbox:hover {
transition-property: text-shadow, margin-top, margin-bottom, color;
transition-duration: 500, 2s, 1s, 500;
-moz-transition-property: text-shadow, margin-top, margin-bottom, color;
-moz-transition-duration: 500, 2s, 1s, 500;
-webkit-transition-property: text-shadow, margin-top, margin-bottom, color;
-webkit-transition-duration: 500, 2s, 1s, 500;
margin-top: -45px;
margin-bottom: 15px;
text-shadow: 0px 0px 1em #acc, 0 0 0.1em #272727;
color: #272727;
}

nav ul li {
font-family: 'Galindo', cursive;
list-style-type: none;
display: inline-block;
padding: 0.2em;
padding-right: 2em;
}

.jumper a:hover, .jumper a:visited, .jumper a:active, .jumper a {
color: #272727;
text-decoration: none; 
}


hr {
width: 77%;
border: 1px dashed #272727;
}

.jumper {
padding: 0.5em;
transition-property: text-shadow, padding-right;
transition-duration: 500, 500;
-moz-transition-property: text-shadow, padding-right;
-moz-transition-duration: 500, 500;
-webkit-transition-property: text-shadow, padding-right;
-webkit-transition-duration: 500, 500;
}

.jumper:hover {
padding-right: 0.2em;
text-shadow: 0 0 2em #0bc, 0 0 1em #aec, 0 0 0.5em #dff;
transition-property: text-shadow, padding-right;
transition-duration: 500, 500;
-moz-transition-property: text-shadow, padding-right;
-moz-transition-duration: 500, 500;
-webkit-transition-property: text-shadow, padding-right;
-webkit-transition-duration: 500, 500;
}

#smallbox {
min-height: 128px;
min-width: 72px;
background-color: rgba(70,70,70,0.30);
border: 1px dashed #272727;
border-radius: 14px;
padding: 7px;
position: absolute;
top: 7%;
left: 7%;
transition-property: border-radius, min-height, min-width, transform:rotate;
transition-duration: 1s, 2s, 1s, 2s;
-moz-transition-property: border-radius, min-height, min-width, -moz-transform:rotate;
-moz-transition-duration: 1s, 2s, 1s, 2s;
-webkit-transition-property: border-radius, min-height, min-width, -webkit-transform:rotate;
-webkit-transition-duration: 1s, 2s, 1s, 2s;

}
#smallbox:hover {
transition-property: border-radius, min-height, min-width, transform:rotate;
transition-duration: 2s, 1s, 2s, 1s;
transform:rotate(30deg);
-moz-transition-property: border-radius, min-height, min-width, -moz-transform:rotate;
-moz-transition-duration: 2s, 1s, 2s, 1s;
-moz-transform:rotate(30deg);
-webkit-transition-property: border-radius, min-height, min-width, -webkit-transform:rotate;
-webkit-transition-duration: 2s, 1s, 2s, 1s;
-webkit-transform:rotate(30deg);
border-radius: 177px;
min-height: 208px;
min-width:144px;
background-color: rgba(40,100,140,0.30);
}

#push {
min-height: 36px;
}

footer {
background: rgba(107,107,107,0.5);
font-size: small;
color: #cacaca;
float: bottom;
text-align: center;
border-top: 1px dashed #272727;
min-height: 36px;
padding: 10px;
}

footer p {
font-family: 'Poiret One', cursive;
}

footer a {
text-decoration: none;
}

